
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  /**** will center everything inside the parent element
  that does not have a width set ****/
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Rock Salt', cursive;
  font-size: 5.625rem;   /****(16px = 100% = 1em)****/
  margin: 50px auto 0 auto;
  color: #173c87;
  line-height: 2;

/**** CENTERING EXAMPLE IN THE CASE A BLOCK ELEMENT HAS A WIDTH ASSIGNED TO IT

  width: 10%;
  /****** if its a block elemnt and it has a width set then you will have to center
  it using the margin auto... if you attempt to center everything with text-align: center; it will
  not center the element even if it is considered a block elemnt

  margin: 0 auto 0 auto; /**** ALL 4 SIDES IN A CLOCK WISE DIRECTION *****/
  /****** this is set to center the element horizontally....
  if you want to center it vertically you would set as margin: auto 0 auto 0; *****/
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: black;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: black;
}

a{
  color: white;
  font-family: Montserrat;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover{
  color: black;
}

hr {
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.topContainer {

  background-color: white;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}


.nav-container {
  background-color: #b3b2af;
  padding: 15px 0 20px;
}

.middle-container {
  margin: 100px 0;
  
}

.intro{
  width:30%;
  margin: auto;

}

.projectInfo {
  width:50%;
  margin: auto;
}

p{
  line-height: 2;
}

.bottom-container {
  background-color: #b3b2af;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  /***** cloud image is taken out of the html flow when assingning it an absolute
  position and more or less placed randomly in the screen, but more importantly
  letting the mountain image be in the center *******/
  left: 250px;
  bottom: 300px;
}

.roundPhoto{
  border-radius: 20%;
}

img.resize {
  max-width:35%;
  max-height:35%;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

/********* ONLY USE FLOAT TO WRAP TEXT AROUND A PARTICULAR ELEMENT... do not use for element positioning **********/

.comp-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.code-skill-description{
  clear: left;
}

.code-skill-description2{
  clear: right;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: white;
  font-size: 0.90rem;
  padding: 20px 0;
}

.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3033cb;
  background-image: -webkit-linear-gradient(top, #3033cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #3033cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #3033cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #3033cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #3033cb, #2bc4ad);
  text-decoration: none;
}
